# Всё, что будет появляться в каталоге build
build/
# Все jar-файлы, кроме module2.jar
*.jar
!module2.jar
# application-local.properties
application-local.properties
# папку .idea полностью
/.idea/
# папку .idea_copy кроме файла workspace.xml
/.idea_copy/
!/.idea_copy/workspace.xml
# Исключаем все папки build, но не файлы с именем build. Файлы с именем  "build" не должны игнорироваться.
# Добавить пояснение: "файл module2.jar из п 2.1.b по-прежнему не должен игнорироваться"
!/src/main/modules/module2/build/